.wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 80px 15%;
    gap: 35px;
    height: calc(100vh - 60px);
}

.verified{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    color: #155724;
    background-color: #d4edda;
    position: relative;
    padding: 6px 12px;
    margin-bottom: 1rem;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    font-size: 10px;
    margin-top: 10px;
    width: 100%;
}

img {
    width: 200px;
    height: auto;
}

.signup-form, .image-container{
    padding: 0;
}

.image-container{
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

.password-div {
    margin-top: 10px;
}

label {
    font-size: 10px;
}

input {
    width: 100%;
    height: 30px;
}

button {
    margin-top: 10px;
    border: 1px solid #FF8622;
    background-color: #FF8622;
    color: white;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 10px;
    width: 100%;
}

button:hover{
    border: 1px solid #FF9922;
    background-color: #FF9922;
    cursor: pointer;
}

.login-error{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #721c24 !important;
    background-color: #f8d7da;
    position: relative;
    padding: 6px 12px;
    margin-bottom: 1rem;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-size: 10px;
    margin-top: 10px;
    width: 100%;
}

.forgot-password {
    display: flex;
    justify-content: flex-end;
    margin: 2px 0px 10px 0px; 
    color: #5B5959;
}

.forgot-password:hover {
    cursor: pointer;
    color: #737373;
    opacity: 80%;
}

.forgot {
    font-size: 8px;
}

@media (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        justify-content: center;
        padding: 50px 10%;
        gap: 0px;
        height: calc(100vh - 65px);
    }

    .signup-form{
        margin-top: 170px;
    }

    img {
        width: 300px;
        height: auto;
    }

    form {
        padding-right: 80px;
    }

    .password-div {
        margin-top: 14px;
    }

    input {
        width: 100%;
        height: 30px;
    }

    .image-container{
        align-items: center;
    }

    label {
        font-size: 11px;
    }

    input {
        height: 33px;
    }

    button {
        padding: 7px 16px;
        font-size: 11px;
    }

    .verified{
        gap: 8px;
        padding: 7px 16px;
        font-size: 11px;
    }

    .login-error{
        gap: 8px;
        padding: 7px 16px;
        font-size: 11px;
    }

    .forgot {
        font-size: 9px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        padding: 50px 14%;
        height: calc(100vh - 75px);
    }

    .signup-form{
        margin-top: 160px;
    }

    img {
        width: 360px;
        height: auto;
    }

    label {
        font-size: 13px;
    }

    form {
        padding-right: 120px;
    }

    .password-div {
        margin-top: 16px;
    }

    input {
        height: 35px;
    }

    button {
        padding: 8px 20px;
        font-size: 13px;
    }

    .verified{
        gap: 10px;
        padding: 8px 20px;
        font-size: 13px;
    }

    .login-error{
        gap: 10px;
        padding: 8px 20px;
        font-size: 13px;
    }

    .forgot {
        font-size: 11px;
    }
}