<app-header></app-header>
<div class="row wrapper">
    <div class="col-12 col-md-7 signup-form">
        <form [formGroup] = "loginForm" (ngSubmit)="submitLoginForm(loginForm.value)">
            <div class="verified" *ngIf="display">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0M8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
                        <path d="M8.256 14a4.5 4.5 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10q.39 0 .74.025c.226-.341.496-.65.804-.918Q8.844 9.002 8 9c-5 0-6 3-6 4s1 1 1 1z"/>
                    </svg>
                </div>
                <div>{{message}}</div>
            </div>
            <div>
                <label>Email</label>
                <input type="text" formControlName="email"/>
            </div>
            <div class="password-div">
                <label>Password</label>
                <input type="password" formControlName="password"/>
            </div>

            <div class="forgot-password">
                <div class="forgot" (click)="navigateToForgotPassword()">Forgot password?</div>
            </div>

            <div>
                <button type="submit">
                    Login
                </button>
            </div>

            <!-- <div 
                class="text-danger"
                *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.dirty">
                
                <div *ngIf="loginForm.get('email')?.hasError('required')">Email is required</div>
            </div> -->
            <div class="login-error" *ngIf="loginError">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                    </svg>
                </div>
                <div>{{errorMessage}}</div>
            </div>
        </form>
    </div>
    <div class="col-12 col-md-5 image-container">
        <img src="././assets/images/login/login.png" alt="sign up image"/>
    </div>
</div>
<app-footer></app-footer>