.wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: #1A2E44;
    width: 100%;
    padding: 0px 10% !important;
    height: 100%;
    color: white;
    padding: 0px 40px;
    margin: 0px;
}

.landing-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    font-size: 25px;
    line-height: 30px;
    font-weight: bold;
}

.paragrah {
    font-size: 13px;
    margin: 20px 0px;
}

.join-button {
    margin-top: 15px;
    padding: 6px 12px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    border: 1px solid #FF8622;
    background-color: #FF8622;
}

.join-button:hover {
    border: 1px solid #FF9922;
    background-color: #FF9922;
    cursor: pointer;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    width: 250px;
    height: auto;
}

@media (min-width: 768px) {
    .wrapper{
        padding: 0px 50px;
        flex-direction: row;
    }

    .landing-description{
        align-items: start;
        text-align: start;
    }

    .header {
        font-size: 35px;
        line-height: 47px;
    }

    .paragrah {
        font-size: 14px;
    }

    .join-button {
        margin-top: 17px;
        padding: 7px 16px;
        font-size: 11px;
    }

    img {
        width: 330px;
        height: auto;
    }
}

@media (min-width: 992px) {
    .wrapper{
        padding: 0px 60px;
    }
    
    .header {
        font-size: 40px;
        line-height: 50px;
    }
    
    .paragrah {
        font-size: 15px;
    }
    
    .join-button {
        margin-top: 20px;
        padding: 8px 20px;
        font-size: 13px;
    }

    img {
        width: 380px;
        height: auto;
    }

}