<div class="row wrapper">
    <div *ngIf="loading" class="loading-overlay">
        <div class="text-primary" role="status">
            <img src="././assets/images/shared/loading.gif" alt="loading"/>
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="col-12 col-md-6 image-div">
        <img src="././assets/images/forgot-password/forgot.png" alt="forgot password image"/>
    </div>
    <div class="col-12 col-md-6">
        <div class="submit-error" *ngIf="submitError">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                </svg>
            </div>
            <div>{{errorMessage}}</div>
        </div>
        <div class="description">
            {{description}}
            <div class="emailed" *ngIf="emailed">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-check" viewBox="0 0 16 16">
                    <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"/>
                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686"/>
                </svg>
                <div>Reset token has been sent to your email address</div>
            </div>
        </div>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmitReset(resetForm.value)">
            <div class="email-div">
                <label>Email</label>
                <input type="text" formControlName="email"/>

                <div 
                    class="text-danger"
                    *ngIf="resetForm.get('email')?.invalid && resetForm.get('email')?.dirty">
                    
                    <div *ngIf="resetForm.get('email')?.hasError('required')">Email is required</div>
                </div>
            </div>

            <div *ngIf="reset">
                <div class="reset-div">
                    <label>Reset Token</label>
                    <input type="text" formControlName="resetToken"/>
                </div>

                <div class="new-password-div">
                    <label>New Password</label>
                    <input type="password" formControlName="newPassword"/>

                    <div 
                        class="text-danger"
                        *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.dirty">
                        
                        <div *ngIf="resetForm.get('newPassword')?.hasError('required')">Password is required</div>
                        <div *ngIf="resetForm.get('newPassword')?.hasError('invalidPassword')">
                            Password needs at least 1 uppercase, 1 lowercase and 1 special character with a minimum of 8 characters
                        </div>
                    </div>
                </div>

                <div class="confirm-password-div">
                    <label>Confirm Password</label>
                    <input type="password" formControlName="confirmPassword" (keyup)="checkConfirmPassword()"/>

                    <div 
                        class="text-danger"
                        *ngIf="(resetForm.get('confirmPassword')?.invalid && resetForm.get('confirmPassword')?.dirty) || (confirmPasswordInvalid === true)">
                        
                        <div *ngIf="resetForm.get('confirmPassword')?.hasError('required')">Input is required</div>
                        <div *ngIf="confirmPasswordInvalid">Passwords do not match</div>
                    </div>
                </div>
            </div>

            <div class="button-div">
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>