.wrapper {
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
}

.heading {
    background-color: rgba(238,238,238, 0.6);
    border: 1px solid rgba(238,238,238, 1);
    padding: 5px 0px;
    color: #3D85D4;
    font-weight: bold;
}

div {
    font-size: 8px;
}


.actions {
    display: flex;
    justify-content: flex-start !important;
    margin-top: 0px !important;
    padding: 0px 5px !important;
}

.order-row {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgba(238, 238, 238, 1);
    padding: 5px 0px;
}

.order-row:hover {
    cursor: pointer;
}

.row-alternate {
    background-color: rgba(238, 238, 238, 0.3);
}

/* expanded box */
.expanded-details {
    padding: 10px 30px 0px 30px;
}

.expanded-details:hover {
    cursor: default;
}

.detail-heading {
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: #FF8622;
    color: white;
    border-radius: 999px;
}

.order-heading {
    margin-top: 10px
}

.detail-section {
    padding: 10px 15px 0px 15px;
}

.detail-information {
    display: flex;
    gap: 10px;
}

.detail-information svg {
    width: 10px;
    color: #3D85D4;
}

.purchase-heading {
    font-weight: bold;
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.1);
}

.detail-purchase {
    padding: 5px 0px;
}

/* add button */
.add-button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.add-button-div {
    width: 80px;
    background-color: transparent;
    border: 1px solid #FF8622;
    color: #FF8622;
}

.add-button-div:hover {
    color: #FF9922;
}

/* expanded box */
.order-heading {
    margin-top: 15px
}

/* form */
.form-header {
    font-size: 15px;
}

.form-popup {
    height: 55%;
}

.form-pop input, .form-pop select {
    width: 100%;
    height: 20px
}

/* delete warning */
.delete-name {
    font-size: 11px;
}

/* add item form */
.add-form {
    margin-bottom: 10px;
}

.add-form select {
    max-width: 100%;
    border: none;
    background-color: transparent;
}

.add-form select:focus,
.add-form input:focus {
    outline: none;
}

.add-form-item {
    padding-left: 3px !important
}

.add-form input {
    max-width: 100%;
    width: 20px;
}

.choice {
    display: flex;
    gap: 5px;
}

.save svg {
    width: 11px;
    color: #6CBF98;
}

.cancel svg {
    width: 15px;
    color: #EB9F9F;
}

.save svg:hover {
    cursor: pointer;
    color: #399469;
}

.cancel:hover {
    cursor: pointer;
    color: #E86868;

}

.save button {
    background-color: transparent;
    border: none;
    padding: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-item-error {
    height: 20px !important;
}

.add-item-error svg {
    height: 10px
}

/* completed order table */
.completed {
    background-color: #FF8622;
    color: white;
    font-weight: bold;
    padding: 10px 7.5px;
    margin-bottom: 20px;
}

.completed:hover {
    cursor: pointer;
    background-color: #FF9922;
}

.completed-row {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {

    .wrapper {
        padding: 30px 80px;
    }

    .heading {
        padding: 10px 0px;
    }

    div {
        font-size: 12px;
    }

    .order-row {
        padding: 10px 0px;
    }

    /* expanded section */
    .expanded-details {
        padding: 30px 50px 0px 50px;
    }

    .detail-section {
        padding: 18px 30px 0px 30px;
    }
    
    .detail-information {
        display: flex;
        gap: 10px;
        padding: 5px 0px;
    }

    .detail-information svg {
        width: 15px;
    }

    .detail-purchase {
        padding: 8px 0px;
    }

    /* add button */
    .add-button-div {
        width: 100px;
    }

    /* form */
    .form-header {
        font-size: 16px;
    }

    .form-popup {
        height: 70%;
    }

    .form-pop input, .form-pop select {
        height: 30px
    }

    /* delete warning */
    .delete-name {
        font-size: 13px;
    }

    /* add item form */
    .add-form {
        margin-bottom: 15px;
    }

    .add-form input {
        width: 30px;
    }
    
    .choice {
        display: flex;
        gap: 4px;
    }
    
    .save svg {
        width: 16px;
        height: auto;
    }
    
    .cancel svg {
        width: 22px;
        height: auto;
    }

    .add-item-error {
        height: 30px !important;
    }
    
    .add-item-error svg {
        height: 13px
    }

}

@media (min-width: 992px) {
    .wrapper {
        padding: 30px 120px;
    }

    .heading {
        padding: 15px 0px;
    }

    div {
        font-size: 13px;
    }

    .order-row {
        padding: 15px 0px;
    }

    /* expanded section */
    .expanded-details {
        padding: 30px 80px 0px 80px;
    }

    /* add button */
    .add-button-div {
        width: 110px;
    }

    /* form */
    .form-header {
        font-size: 17px;
    }

    .form-popup {
        height: 75%;
    }

    .form-pop input, .form-pop select {
        height: 35px
    }

    /* delete warning */
    .delete-name {
        font-size: 15px;
    }
}