<div class="wrapper row">
  <div class="landing-description col-12 col-md-7">
    <div class="header">All your business orders in one click</div>
    <div class="paragrah">
      Revolutionize your order management with our platform that seamlessly automates incoming orders via a Telegram bot, delivering them straight to your customized dashboard.
    </div>
    <div>
      <button class="join-button">Join for Free</button>
    </div>
  </div>
  <div class="col-12 col-md-5 gif">
    <img src="././assets/images/home/landing-page.gif" alt="landing page image">
  </div>
</div>
