html, body, p, h1, h2, h3, h4, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    font-size: 10px;
}

html, body, app-root {
    height: 100%
}

app-root {
    display: flex;
    flex-direction: column;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

/* edit and delete */
.actions {
    display: flex;
    justify-content: flex-end;
    gap: 2px;
    margin-top: 10px;
}

.actions-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

.actions-item svg {
    width: 10px;
    height: 10px;
}

.edit {
    border: 1px solid #6CBF98;
}

.edit svg {
    color: #6CBF98;
}

.delete {
    border: 1px solid #EB9F9F;
}

.delete svg {
    color: #EB9F9F;
}

.edit:hover {
    cursor: pointer;
    border: 1px solid #399469;
}

.edit svg:hover {
    cursor: pointer;
    color: #399469;
}

.delete:hover {
    cursor: pointer;
    border: 1px solid #E86868;
}

.delete svg:hover {
    cursor: pointer;
    color: #E86868;
}

/* popup overlay */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form */
.form-popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
}

.form-header {
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-pop {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.form-pop input {
    width: 100%;
}

.form-submit-button button{
    width: 100%;
    border: 1px solid #FF8622;
    background-color: #FF8622;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px 0px;
    margin-top: 10px;
    height: 30px;
}

/* close form button */
.form-close {
    display: flex;
    justify-content: flex-end;
}

.form-close button {
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.8);
    border-radius: 50%;
    color: rgba(128, 128, 128, 0.8);
}

/* error message */
.form-error{
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    color: #721c24 !important;
    background-color: #f8d7da;
    position: relative;
    padding: 6px 12px;
    margin-bottom: 1rem;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-size: 10px;
    width: 100%;
}

/* delete popup */
.delete-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.delete-name {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 15px
}

.delete-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d85b62;
    height: 80px;
    border-radius: 5px 5px 0px 0px;
}

.delete-warning img {
    height: 60px;
}

.delete-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 40px 20px;
    border-radius: 0px 0px 5px 5px;
}

.confirmation-button {
    display: flex;
    gap: 10px
}

.yes {
    background-color: #d85b62;
    border: 1px solid #d85b62;
    border-radius: 3px;
    color: white;
}

.no {
    background-color: #6CBF98;
    border: 1px solid #6CBF98;
    border-radius: 3px;
    color: white;
}

.yes:hover, .no:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

/* add button */
.add-button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: 1px solid #FF8622;
    background-color: #FF8622;
    color: white;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 10px;
    width: 100px;
}

.add-button-div:hover {
    cursor: pointer;
    border: 1px solid #FF9922;
    background-color: #FF9922;
}

.add-button-div svg {
    width: 13px;
    height: auto;
}

@media (min-width: 768px) {
    html, body, p, h1, h2, h3, h4, div {
        font-size: 11px;
    }

    /* edit and delete */
    .actions {
        gap: 4px;
        margin-top: 12px;
    }
    
    .actions-item {
        width: 19px;
        height: 19px;
    }
    
    .actions-item svg {
        width: 11px;
        height: 11px;
    }

    /* form */
    .form-popup {
        width: 50%;
    }

    .form-header {
        font-size: 16px;
        margin-bottom: 14px;
    }

    .form-pop {
        gap: 12px
    }

    .form-submit-button button{
        padding: 5px 0px;
        margin-top: 15px;
    }

    /* delete popup */
    .delete-container {
        width: 40%;
    }

    .delete-warning {
        height: 100px;
    }

    .delete-warning img {
        height: 75px;
    }

    .delete-name {
        font-size: 15px;
        margin-bottom: 20px
    }

    /* add button */
    .add-button-div {
        gap: 7px;
        padding: 7px 10px;
        font-size: 11px;
        width: 110px;
    }

    .add-button-div svg {
        width: 14px;
        height: auto;
    }
}

@media (min-width: 992px) {
    html, body, p, h1, h2, h3, h4, div {
        font-size: 12px;
    }

    /* edit and delete */
    .actions-item {
        width: 20px;
        height: 20px;
    }
    
    .actions-item svg {
        width: 12px;
        height: 12px;
    }

    /* form */
    .form-popup {
        width: 40%;
    }

    .form-header {
        font-size: 17px;
        margin-bottom: 16px;
    }

    .form-pop {
        gap: 14px
    }

    .form-submit-button button{
        height: 33px;
    }

    /* delete popup */
    .delete-container {
        width: 30%;
    }

    .delete-warning {
        height: 110px;
    }

    .delete-warning img {
        height: 85px;
    }

    .delete-name {
        font-size: 17px;
        margin-bottom: 25px
    }
    
}